<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="[%p] %c{1} - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.lazydoc" level="info"/>
        <Root level="debug">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>